<div class="bg-dark text-light py-5">
    <div class="container">
        <div class="row mb-5">
            <a class="navbar-brand text-center" href="/">
                <img src="/images/journalize-logo.png" width="40" height="40" alt="Logo">
                <span class="mx-2 font-weight-bold">Journalize</span>
            </a>
        </div>
        <div class="row">
            <div class="col-md-6">
                <ul class="list-inline mb-0 d-flex flex-column text-center">
                    <li class="list-inline-item"><a href="/" class="text-light">Accueil</a></li>
                    <li class="list-inline-item"><a href="/quoi-de-neuf" class="text-light">Quoi de neuf</a></li>
                    <li class="list-inline-item"><a href="/mon-compte" class="text-light">Mon compte</a></li>
                </ul>
            </div>
            <div class="col-md-6 text-center">
                <p class="small">
                    Projet réalisé dans le contexte d'un projet de fin de semestre à l'université de Picardie Jules Verne dans la matière architecture des systèmes d'informations.
                </p>
            </div>

        </div>
        <div class="row mt-4">
            <div class="text-center">
                <p class="mb-0">Copyright &copy; 2024</p>
            </div>
        </div>
    </div>
</div>
